{% extends 'base.html' %}
{% load static %}
      {% block title %}افزودن نظر{% endblock title %}
      {% block navbar %}{% endblock navbar %}

        {% block content %}
        
        <div class="add-post">
            <div class="flex">
                <h1>افزودن نظر</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="add-post-field">
                            {% comment %} {{ field.label_tag }} {% endcomment %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="ثبت" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% endblock content %}

    {% block footer %}{% endblock footer %}